<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="bower_components/keen-ui/dist/min/keen-ui.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <div id="app">
    <ui-toolbar title="ezPAARSE Logger" class="page-toolbar" type="colored" text-color="white" hide-nav-icon>
      <div slot="actions">
        <ui-icon-button v-on:click="analyze" tooltip="Analyze lines" :loading="processing" type="clear" color="white" icon="pageview"></ui-icon-button>
        <ui-icon-button v-on:click="clear" tooltip="Clear lines" type="clear" color="white" icon="clear_all"></ui-icon-button>
        <ui-icon-button type="clear" color="white" icon="more_vert" v-on:menu-option-selected="menuSelect" has-dropdown-menu show-menu-icons :menu-options="menu" dropdown-position="bottom right"></ui-icon-button>
      </div>
    </ui-toolbar>

    <div class="page-content">

      <p class="empty-notice" v-if="requests.length === 0">
        Waiting for traffic, let's browse the Internet !
      </p>

      <div class="line" v-for="req in requests" v-on:click="setDetailed(req)">
        <div class="item">
          <div class="top">
            <span class="info" v-if="req.type">
              <span class="title">status:</span> <span class="label label-{{ req.status }}">{{ req.status }}</span>
            </span>
            <span class="info" v-if="req.type">
              <span class="title">type:</span> <span>{{ req.type }}</span>
            </span>
            <span class="info" v-if="req.ec.rtype">
              <span class="title">rtype:</span> <span>{{ req.ec.rtype }}</span>
            </span>
            <span class="info" v-if="req.ec.mime">
              <span class="title">mime:</span> <span>{{ req.ec.mime }}</span>
            </span>
          </div>

          <div class="break">{{ req.url }}</div>
        </div>
      </div>
    </div>

    <!-- Request details -->
    <ui-modal :show.sync="show.details" type="large" header="Full view">
      <h3>Request</h3>

      <table>
        <tbody>
          <tr>
            <th>URL</th>
            <td class="break">{{ detailed.url }}</td>
          </tr>
          <tr>
            <th>Resource type</th>
            <td>{{ detailed.type }}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td><span class="label label-{{ detailed.status }}">{{ detailed.status }}</span></td>
          </tr>
        </tbody>
      </table>

      <div v-if="detailed.ec">
        <h3>Consultation event</h3>

        <table class="break">
          <tbody>
            <tr v-for="(prop, value) in detailed.ec">
              <th>{{ prop }}</th>
              <td class="break">{{ value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ui-modal>

    <!-- Export -->
    <ui-modal :show.sync="show.export" type="normal" header="Export">
      <p>Click below to export the traffic you captured as a standard log file. You can give it straight to ezPAARSE, <strong>no configuration needed</strong>.</p>
      <div slot="footer">
        <ui-button color="primary" v-on:click="exportAsFile" icon="file_upload">Export</ui-button>
        <ui-button v-on:click="toggleExport">Close</ui-button>
      </div>
    </ui-modal>

    <!-- Configuration -->
    <ui-modal :show.sync="show.config" type="normal" header="Configuration">
      <h4>General</h4>

      <ui-checkbox :model.sync="settings.autoRemoveNoise">Automatic noise filtering (images, scripts...)</ui-checkbox>

      <ui-radio-group :options="instanceOptions" label="ezPAARSE URL" :value.sync="settings.instance" vertical></ui-radio-group>
      <ui-textbox v-if="settings.instance === 'other'" :value.sync="settings.ezpaarseUrl" label="ezPAARSE URL" type="text" placeholder="http://" help-text="Enter the URL of an ezPAARSE instance (v2.9.0 or greater)"></ui-textbox>

      <h4>Headers</h4>

      <div class="flex" v-for="header in settings.headers">
        <ui-textbox class="grow" :value.sync="header.name" placeholder="Name"></ui-textbox>
        <ui-textbox class="grow" :value.sync="header.value" placeholder="Value"></ui-textbox>
        <ui-icon-button v-on:click="removeHeader($index)" tooltip="Remove header" icon="clear"></ui-icon-button>
      </div>

      <ui-button v-on:click="addHeader" icon="add">Add header</ui-button>

      <h4>Proxy suffixes</h4>

      <div class="flex" v-for="suffix in settings.proxySuffixes">
        <ui-textbox class="grow" :value.sync="suffix.str" placeholder="Ex: gate.myproxy.com"></ui-textbox>
        <ui-icon-button v-on:click="removeProxy($index)" tooltip="Remove proxy" icon="clear"></ui-icon-button>
      </div>

      <ui-button v-on:click="addProxy" icon="add">Add proxy</ui-button>

      <div slot="footer">
         <ui-button color="primary" v-on:click="saveSettings">Save</ui-button>
         <ui-button v-on:click="clearSettings">Defauts</ui-button>
         <ui-button v-on:click="toggleConfig">Close</ui-button>
       </div>
    </div>
  </ui-modal>

  <script src="bower_components/vue/dist/vue.min.js"></script>
  <script src="bower_components/keen-ui/dist/min/keen-ui.min.js"></script>
  <script src="bower_components/file-saver/FileSaver.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/fetch/fetch.js"></script>
  <script src="js/window.js"></script>
</body>
</html>
